<h2>Edit Account</h2>

<%= form_for @user, :html => { :class => "nice" } do |f| %>
  <% if @user.errors.any? %>
	<h3>Invalid Form</h3>
    <div class="alert-box error">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username, :class => "input-text" %>
	<p>
	  <%= f.label "Email: (Never Public)" %>
	  <%= f.text_field :email, :class => "input-text" %>
	</p>
	<p>
	  <%= f.label :password %>
	  <%= f.password_field :password, :class => "input-text" %>
	</p>
	<p>
	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation, :class => "input-text" %>
	</p>
	<p><%= submit_tag "Sign Up", :class => "nice small radius blue button" %></p>
<% end %>